@import '{}/imports/ui/Home/Home.scss';

$mainColor: #40b883;

body {
	// font-family: sans-serif;
	h1 { color: $mainColor; }
}

.navbarOutner {
	margin-top: 70px;
	.navbar {
		position: fixed !important;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $mainColor;
		padding: 0 !important;
		.item {
			float: left;
			width: 33%;
			text-align: center;
			padding: 15px;
			&:not(:first-child) {
				border-left: 1px solid #fff;
			}
			a {
				color: #fff;
			}
			.router-link-active {
				font-weight: bold;
				color: #000;
			}
		}
	}
}